{% extends 'layout/base.html' %}
{% block css %}
<style>
    .colors {
        border: none;
        border-radius: .5rem;
        padding-left: 1rem;
        box-sizing: border-box;
        width: 4rem;

    }

</style>
{% endblock %}

{% block content %}
<main >
    <div class="container my-5 " >
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="row">
                    {% for item in uploads %}

                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <a href="{{item.path}}" data-lightbox="image"
                                data-title="Image {{item.id}} of {{ item.size|filesizeformat }}">
                                <img class="card-img" src="{{item.path}}" alt="{{item.id}}" height="300" />
                            </a>
                            <div class="card-footer d-flex">
                                <a href="#" class="btn me-auto">Size: {{ item.size|filesizeformat }}</a>
                                <form action="/quantize/{{item.id}}"
                                    class="row align-items-center">
                                    <div class="col">
                                        <input class="colors ms-auto" type="number" name="colors" max="256" min="2"
                                            placeholder="colors" value="64" title="Number of colors to quantize">
                                        <button class="btn btn-outline-info ms-1" title="compress">
                                          <i class="fa fa-compress"></i>
                                        </input>
                                    </div>
                                </form>
                                <a href="/download/{{item.id}}" class="btn btn-outline-info ms-1">
                                    <i class="fa fa-download"></i>
                                </a>
                                <a href="/delete/{{item.id}}" class="btn btn-outline-danger ms-1">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    function quantize(event) {
        event.preventDefault(); // Prevent the default behavior of the link


        var link = event.target.parentElement;
        var colorInput = link.previousElementSibling.value;
        alert(colorInput)
        // Update the URL of the anchor tag
        var updatedURL = link.href + "?color=" + colorInput;
        link.href = updatedURL;

        // Redirect to the updated URL
        // window.location.href = updatedURL;
    }
</script>
{% endblock %}