{% extends 'layout/base.html' %}

{% block content %}

{% block css %}
<style>
    /* Custom CSS for your project */
    .gif-overlay{
        height: 100vh;  
    }

     

     
    
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/023/425/793/original/illustration-simple-seamless-letter-y-pattern-with-black-color-in-transparent-background-alphabet-y-pattern-background-texture-free-vector.jpg');
        background-repeat: no-repeat;
        background-size: cover; /* Ensure the background covers the entire viewport */
          /* Keep the background fixed while scrolling */
          /* Ensure proper stacking order with other elements */
    }

    
</style>
{% endblock %}

<main>
 
     
     


    <!-- GIF overlay -->
     
    <div class="gif-overlay ">

    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-5 mx-auto">
                <div class="row">
                    <div class="card mb-5">
                        <div class="card-body">
                            <h2>Color Quantization</h2>
                            <div class="help-text">using kmeans</div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form action="/upload" method="post" enctype="multipart/form-data">
                                <input class="form-control form-control-lg mb-3" type="file" name="image" accept="image/*">
                                <button class="btn btn-outline-success btn-lg" type="submit">Upload Image</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
