{% extends 'layout/base.html' %}

{% block content %}

{% block css %}
<style>
    /* Custom CSS for your project */
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/023/425/793/original/illustration-simple-seamless-letter-y-pattern-with-black-color-in-transparent-background-alphabet-y-pattern-background-texture-free-vector.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* Ensure the background covers the entire viewport */
        background-attachment: fixed;
        /* Keep the background fixed while scrolling */
        position: relative;
        /* Ensure proper stacking order with other elements */
    }
</style>
{% endblock %}

<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-md-12 mx-auto table-responsive">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">status</th>
                            <th scope="col">message</th>
                            <th scope="col">date and time</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for log in logs %}
                        <tr class="">
                            <td scope="row">{{log.id}}</td>
                            <td>{{log.status}}</td>
                            <td>{{log.message}}</td>
                            <td>{{log.created_at.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock %}