<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Quantization using K-means</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <!-- FontAwesome 6.2.0 CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/css/lightbox.css"
        integrity="sha512-Woz+DqWYJ51bpVk5Fv0yES/edIMXjj3Ynda+KWTIkGoynAMHrqTcDUQltbipuiaD5ymEo9520lyoVOo9jCQOCA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        
    <style>
        footer {
            background-color: #fefefe;
            /* Dark grey footer */
            color: #000000;
            /* White text */
            text-align: center;
            padding: 20px 0;
        }

        .footer-animation {
            animation: slideInFromLeft 1s ease forwards;
        }

        @keyframes slideInFromLeft {
            from {
                opacity: 0;
                transform: translateX(-50px);
            }
            to {
                opacity: 1;
                transform: translateX(0);
            }
        }

        .usp-card {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #e9e7ee;
            border-radius: 10px;
        }

        .usp-card__icon {
            margin-bottom: 10px;
        }
    </style>

    {% block css %}
    
    {% endblock %}
</head>

<body data-bs-theme="dark">
    <header>
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="nav navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" aria-current="page">Home</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/gallery">Upload</a>
                </li>
                <a href="/" class="navbar-brand px-5">Color Quantizer</a>
                <li class="nav-item">
                    <a class="nav-link" href="/quantized/gallery">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logs">Logs</a>
                </li>
            </ul>
        </nav>
    </header>

    
    

    <div class="container">
        
        

        {% block content %}
       
        {% endblock %}
    </div>
    


    <footer style="color: black;">


        <section>

           

        </section>
        <div class="usp-card">
            <div class="usp-card__icon"><i class="fas fa-compress"></i></div>
            <h2>Best Compression</h2>
            <p>We apply K-means algorithms to reduce image size by up to 80% while preserving image quality.
                Supports JPG, PNG formats.</p>
        </div>
        <div class="usp-card">
            <div class="usp-card__icon"><i class="fas fa-upload"></i></div>
            <h2>Easy to Use</h2>
            <p>Simply upload your images and hit compress! We'll do our magic in seconds. You can also batch
                compress image files.</p>
        </div>
        <div class="usp-card">
            <div class="usp-card__icon"><i class="fas fa-lock"></i></div>
            <h2>Free & Secure</h2>
            <p>This Image Compressor is free and works on any web browser. Plus, all files are protected with
                256-bit SSL encryption and deleted automatically after a few hours. Your file security and
                privacy are guaranteed.</p>
        </div>
        </div> <br data-v-7ed68111>
        <div class="row" data-v-7ed68111>
            <div class="col-md-12" data-v-7ed68111>
                <div class="content-card-html" data-v-7ed68111>
                    <section class="layout__section--elevated content-html__plain">
                        <div class="content-html">
                            <p> Now using the best compression settings to reduce image size even more!<br><br></p>
                            <p>Terms & Conditions | Privacy Policy | Contact</p>
                            <p>For any inquiries, please contact us at <a href="mailto:info@colorquantizer.com">info@colorquantizer.com</a>.</p>
                    
                        
                            
    </footer>


    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.4/js/lightbox.min.js"
        integrity="sha512-Ixzuzfxv1EqafeQlTCufWfaC6ful6WFqIz4G+dWvK0beHw0NVJwvCKSgafpy5gwNqKmgUfIBraVwkKI+Cz0SEQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        lightbox.option({
            'showImageNumberLabel': false
        })
    </script>

    {% block js %}{% endblock %}
</body>

</html>